{% extends "base.html" %}

{% block title %}
Reading Logs - Booksession
{% endblock %}

{% block content %}

<div class="reading-container">

    <div class="page-header">

        <div>

            <h1>Reading Logs</h1>

            <p>
                Track your daily reading progress
                and keep your reading journey organized.
            </p>

        </div>

        <a
            href="{% url 'reading_log_create' %}"
            class="primary-btn"
        >
            + Add Reading Log
        </a>

    </div>


    {% if messages %}

        {% for message in messages %}

            <div class="message">
                {{ message }}
            </div>

        {% endfor %}

    {% endif %}


    {% if logs %}

        <div class="reading-log-list">

            {% for log in logs %}

                <div class="reading-log-card">

                    <div>

                        <h2>
                            {{ log.book.title }}
                        </h2>

                        <p>
                            {{ log.pages_read }} pages
                        </p>

                        <p>
                            Reading date:
                            {{ log.log_date|date:"d M Y" }}
                        </p>

                    </div>


                    <div class="card-actions">

                        <a
                            href="{% url 'reading_log_detail' log.log_id %}"
                            class="secondary-btn"
                        >
                            View
                        </a>

                        <a
                            href="{% url 'reading_log_edit' log.log_id %}"
                            class="secondary-btn"
                        >
                            Edit
                        </a>

                        <a
                            href="{% url 'reading_log_delete' log.log_id %}"
                            class="danger-btn"
                        >
                            Delete
                        </a>

                    </div>

                </div>

            {% endfor %}

        </div>

    {% else %}

        <div class="empty-state">

            <h2>No Reading Logs Yet</h2>

            <p>
                Start tracking your reading progress
                by adding your first reading log.
            </p>

            <a
                href="{% url 'reading_log_create' %}"
                class="primary-btn"
            >
                Add Reading Log
            </a>

        </div>

    {% endif %}

</div>

{% endblock %}