{% extends "base.html" %}

{% block title %}
Delete Reading Log - Booksession
{% endblock %}

{% block content %}

<div class="reading-container">

    <div class="detail-card">

        <h1>Delete Reading Log?</h1>

        <p>
            Are you sure you want to delete your reading log for:
        </p>

        <h2>
            {{ log.book.title }}
        </h2>

        <p>
            {{ log.pages_read }} pages
            on
            {{ log.log_date|date:"d M Y" }}
        </p>


        <form method="POST">

            {% csrf_token %}

            <button
                type="submit"
                class="danger-btn"
            >
                Yes, Delete
            </button>

            <a
                href="{% url 'reading_log_list' %}"
                class="secondary-btn"
            >
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}