{% extends "base.html" %}

{% block title %}
Reading Log Details - Booksession
{% endblock %}

{% block content %}

<div class="reading-container">

    <div class="page-header">

        <div>

            <h1>Reading Log Details</h1>

            <p>
                View your reading progress.
            </p>

        </div>

    </div>


    <div class="detail-card">

        <h2>
            {{ log.book.title }}
        </h2>

        <p>
            <strong>Author:</strong>
            {{ log.book.author }}
        </p>

        <p>
            <strong>Pages Read:</strong>
            {{ log.pages_read }}
        </p>

        <p>
            <strong>Reading Date:</strong>
            {{ log.log_date|date:"d M Y" }}
        </p>

        <p>
            <strong>Created:</strong>
            {{ log.created_at|date:"d M Y, h:i A" }}
        </p>


        <div class="card-actions">

            <a
                href="{% url 'reading_log_edit' log.log_id %}"
                class="primary-btn"
            >
                Edit
            </a>

            <a
                href="{% url 'reading_log_delete' log.log_id %}"
                class="danger-btn"
            >
                Delete
            </a>

            <a
                href="{% url 'reading_log_list' %}"
                class="secondary-btn"
            >
                Back
            </a>

        </div>

    </div>

</div>

{% endblock %}